@import '../index.scss';

#landing {
    .back-to-home {
        display: none !important;
    }
    .line-through-users {
        position: relative;
        text-decoration: line-through;
        text-decoration-color: $p;
        text-decoration-thickness: 3px;
        &::after {
            content: "people";
            position: absolute;
            color: $p;
            font-size: 42px;
            top: 40%;
            left: 70%;
            transform: rotate(-10deg);
            font-family: 'Reenie Beanie', cursive;
            font-weight: 400;
        }
    }
    @media all and (min-width: 991px){ 
        .line-through-users {
            text-decoration: none;
            &::before {
                content: "";
                position: absolute;
                background-color: $p;
                width: 110%;
                height: 3px;
                left: -5%;
                top: 50%;
            }
            &::after {
                right: -40%;
                top: 60%;
            }
        }
    }
}