@import '../index.scss';

#landing {
    overflow: hidden;
    nav .logo {
        &:hover {
            .home {
                div { opacity: 0; }
                &::before { top: -50px; }
            }
        }
    }
}