@import './reset.scss';
@import './scrollbar.scss';

$p: #F62459;

$b: #0F0F0F;
$g: #76818D;
$lg: #DDE3EA;
$w: #FFFEFE;

/*
    I'm slowly transitioning this site to Chakra UI. At the moment, SCSS is used for the core design, and Chakra UI 
    for frequently updated sections of the websites like blog posts.
*/

html, body {
    color: $b;
    background-color: $w;
    overflow-x: hidden;
    overflow-y: overlay;
}

html, body, p, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
    /*
        font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, Roboto,
        Ubuntu, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    */
}

a { 
    text-decoration: none;
    transition: .2s;
}

main {
    min-height: 100vh;
    background-color: $w;
}

.belong-to-the-wild {
    transform: rotate(-10deg);
    font-family: 'Reenie Beanie', cursive;
    font-weight: 400;
    font-size: 36px;
    color: $p;
    white-space: nowrap;
}

.spotlight {
  .spotlight-element {
    transition: all .2s ease-in-out;
  }
  &:hover .spotlight-element:not(:hover) { 
    opacity: .75;
  }
}

.circle {
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text { font-weight: bold; text-transform: uppercase; }

}

#small-circle { 
    height: 300px;
    text { font-size: 16px; }
}

#big-circle { 
    height: 500px;
    text { font-size: 12px; }
}

@import './animations.scss';