/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(150, 150, 150, 0.25);
    border: solid 3px transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px rgb(150, 150, 150, 0.75);
}