@import '../index.scss';

.logo {
    .logo-line { background-color: $b; }
    .back-to-home {
        color: $p;
        &:before {
            background-color: $w;
        }
    }
    &:hover {
        .back-to-home {
            .back-to-home-text { 
                opacity: 1; 
                transition-delay: .1s; 
            }
            &::before {
                top: 0;
                transition-delay: 0s;
            }
        }
    }
}

nav {
    .menu {
        position: absolute;
        top: 20px;
        right: 42px;
        user-select: none;
        a {
            margin-left: 40px;
            color: $b;
            font-weight: 500;
            font-size: 16px;
            &:hover {
                color: $p;
                filter: drop-shadow(0px 5px 10px rgba($p, .25));
            }
            &:nth-child(4) { margin-left: 40px;}
        }
        .social-link {
            position: relative;
            top: 3px;
            color: $g;
            margin-left: 20px;
            &:first-child { margin-left: 40px; }
        }
        .active {
            position: relative;
            display: inline-block;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 170%;
                height: 36px;
                display: inline-block;
                border: 1px solid $lg;
                border-radius: 16px;
            }
            &:hover {
                &::before { border-color: rgba($p,.25) }
            }
        }
    }
    @media all and (max-width: 991px){
        .menu { 
            display: none;
            /*
            Floating contact button.

            position: fixed;
            top: initial;
            right: 30px;
            bottom: 35px;
            a:nth-child(2), a:nth-child(1) { display: none; }
            a:nth-child(3) { 
                font-weight: 600;
                background-color: $w;
                padding: 10px 20px;
                border-radius: 60px;
                box-shadow: 0px 5px 10px -5px rgba($b,.25);
                -webkit-box-shadow: 0px 5px 10px -5px rgba($b,.25);
                -moz-box-shadow: 0px 5px 10px -5px rgba($b,.25);
            }*/
        }
    }
}

// Mobile inner menu
.menu-modal {
    .menu-options a, .menu-social a { 
        display: block; 
        // Animation
        opacity: 0;
        animation: fadeIn .2s ease-in-out 0s 1 normal forwards;
        &:nth-child(1) { animation-delay: .2s; }
        &:nth-child(2) { animation-delay: .3s; }
        &:nth-child(3) { animation-delay: .4s; }
        &:nth-child(4) { animation-delay: .5s; }
    }
    .menu-options {
        margin-bottom: 50px;
        a {
            font-size: 2.5rem;
            line-height: 1.6;
            color: $w;
        }
        .active {
            position: relative;
            color: $p;
            left: -60px;
            &::before {
                content: '';
                position: absolute;
                bottom: 18px;
                right: -110px;
                width: 100px;
                height: 5px;
                display: block;
                background-color: $p;
                border: none;
                border-radius: 5px;
            }
        }
    }
    .menu-social {
        a {
            color: rgba($w, .5);
            line-height: 1.9;
        }
    }
}