@import '../index.scss';

nav {
    .logo {
        &:hover {
            .home {
                div { 
                    opacity: 1; 
                    transition-delay: .2s; 
                }
                &::before {
                    top: 0;
                    transition-delay: 0s;
                }
            }
        }
        img {
            position: absolute;
            z-index: 10;
            top: 55px;
            left: 70px;
            width: 60px;
        }
        .home {
            position: absolute;
            z-index: 11;
            top: 50px;
            left: 65px;
            padding-left: 5px;
            min-width: 70px;
            min-height: 30px;
            div {
                transition: .2s;
                opacity: 0;
                color: $p;
                font-weight: 500;
            }
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                background-color: $w;
                display: block;
                width: 70px;
                height: 30px;
                top: -50px;
                transition: .2s;
                transition-delay: .2s;
            }
        }
    }
    .menu {
        position: absolute;
        top: 50px;
        right: 70px;
        user-select: none;
        a {
            margin-left: 50px;
            color: $g;
            font-weight: 500;
            font-size: .9rem;
            line-height: 1.5;
            &:hover {
                color: $p;
                filter: drop-shadow(0px 5px 10px $p);
            }
        }
    }
}