@import '../index.scss';

// TODO: Include animation for the black background in nav > .modal.

nav {
    .logo {
        img {
            position: absolute;
            z-index: 10;
            top: 55px;
            left: 70px;
            width: 60px;
        }
        .home {
            position: absolute;
            z-index: 11;
            top: 50px;
            left: 65px;
            padding-left: 5px;
            min-width: 70px;
            min-height: 30px;
            div {
                transition: .2s;
                opacity: 0;
                color: $p;
                font-weight: 500;
            }
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                background-color: $w;
                display: block;
                width: 70px;
                height: 30px;
                top: -50px;
                transition: .2s;
                transition-delay: .2s;
            }
        }
        &:hover {
            .home {
                div { 
                    opacity: 1; 
                    transition-delay: .2s; 
                }
                &::before {
                    top: 0;
                    transition-delay: 0s;
                }
            }
        }
    }
    .menu {
        position: absolute;
        top: 50px;
        right: 70px;
        user-select: none;
        a {
            margin-left: 50px;
            color: $g;
            font-weight: 500;
            font-size: .9rem;
            line-height: 1.5;
            &:hover {
                color: $p;
                filter: drop-shadow(0px 5px 10px $p);
            }
        }
    }
    .modal-button, .modal { display: none; }
    @media all and (max-width: 1400px){
        .logo {
            img {
                top: 35px;
                left: 30px;
            }
            .home {
                top: 30px;
                left: 25px;
            }
        }
        .menu {
            top: 30px;
            right: 30px;
            a {
                margin-left: 40px;
            }
        }
    }
    @media all and (max-width: 576px){
        .logo {
            img {
                top: 25px;
                left: 20px;
            }
            .home {
                display: none;
            }
        }
        .menu { 
            position: fixed;
            top: initial;
            right: 30px;
            bottom: 35px;
            a:nth-child(2), a:nth-child(1) { display: none; }
            a:nth-child(3) { 
                font-weight: 600;
                background-color: $w;
                padding: 10px 20px;
                border-radius: 60px;
                box-shadow: 0px 5px 10px -5px rgba($b,.25);
                -webkit-box-shadow: 0px 5px 10px -5px rgba($b,.25);
                -moz-box-shadow: 0px 5px 10px -5px rgba($b,.25);
            }
        }
        .modal-button, .modal { display: block; }
        .modal-button {
            position: absolute;
            text-align: right;
            right: 20px;
            top: 15px;
            font-size: 36px;
            height: 48px;
            width: 48px;
        }
        .modal {
            color: $w;
            .modal-content {
                top: 0;
                left: 0;
                transform: none;
                height: 100vh;
                width: 100vw;
                max-height: initial;
                max-width: initial;
                min-height: initial;
                min-width: initial;
                background-color: $b;
                border-radius: 0;
                .modal-close {
                    color: $w;
                }
                .modal-body { 
                    top: initial;
                    left: initial;
                    right: 25px;
                    bottom: 40px;
                    text-align: right;
                    transform: none;
                    width: auto;
                    .menu-options a, .menu-social a { display: block; }
                    .menu-options {
                        margin-bottom: 50px;
                        a {
                            font-size: 2.5rem;
                            line-height: 1.6;
                            color: $w;
                        }
                    }
                    .menu-social {
                        a {
                            color: $p;
                            line-height: 1.9;
                        }
                    }
                }
            }
        }
    }
}